
	<div id="footer">
		<div id="footlink">
			<p>
				<strong><a href="$siteurl" target="_blank">Pokemon WG</a></strong>
				 - <a href="mailto:$adminemail">联系我们</a>
			</p>
			<p class="smalltext">
				GMT<!--{if $_CONFIG[timezone] >= 0}-->+<!--{/if}-->$_CONFIG[timezone], {eval echo rgmdate($_G[timestamp])}, {eval echo $db->querynum;} queries.
			</p>
		</div>
		<div id="rightinfo">
			<p>Powered by <strong><a href="http://pokemon.3-a.net" target="_blank">Poekmon WG</a></strong> <em>{S_VERSION}</em></p>
			<p class="smalltext">&copy; 2001-2009 <a href="http://inu.3-a.net/?1" target="_blank">Satoshi Takashiro</a></p>
		</div>
	</div>

</div>

</body>
</html>
