{template header}

<div id="nav"><a href="index.php">Pokemon NA</a> &raquo; 冒险大陆</div>

<div class="side" style="width:15%">
	<div><h2>地区选择</h2>
		<ul class="radio">
		<!--{loop $regionlist $region}-->
			<li><a href="javascript:setRegion($region[id]);">$region[name_c]</a></li>
		<!--{/loop}-->
    	</ul>
	</div>
	<div><h2>路标类型</h2>
		<ul class="radio">
			<li><a href="javascript:setType('gym');">道馆赛</a></li>
			<li><a href="javascript:setType('contest');">华丽大赛</a></li>
			<li><a href="javascript:setType('area');">探险大陆</a></li>
		</ul>
	</div>
	<div><h2>道路选择</h2>
		<ul id="areatitle" class="radio" style="height:130px;overflow:auto"></ul>
	</div>
	<div class="radio_li"><h2>道馆选择</h2>
		<ul id="gymtitle" class="radio" style="height:130px;overflow:auto"></ul>
	</div>
</div>

<div class="content" style="width:84%">
	<div id="map" style="text-align:center;margin:10px;overflow:auto">
		<img src="$imgdir/common/loading.gif" border="0" />
	</div>
	<div id="landmark"></div>
	<div class="mainbox radio_img"><h1>选择一个宠物</h1>
	<!--{loop $mymonlist $mon}-->
		<a href="###" onclick="setPokemon($mon[id])"><img src="$imgdir/pokemon/$mon[picid].gif" id="mon_{$mon[id]}" alt="$mon[name]" width="130" height="120" /></a>
	<!--{/loop}-->
	</div>
</div>

<!--{loop $ctsmap $landid $ctslist}-->
<div id="contest_$landid" style="display:none">
	<!--{loop $ctslist $cts}-->
	<a href="contest.php?gid=$cts[id]"><img src="$imgdir/common/contest.gif" alt="{$cts[name]}华丽大赛" align="left" style="position:relative;top:$g[top]px;left:$g[left]px" /></a>
	<!--{/loop}-->
</div>
<!--{/loop}-->

<script type="text/javascript">
var region_name = new Array();
<!--{loop $regionlist $region}-->
region_name[{$region[id]}] = '{$region[code]}';
<!--{/loop}-->
</script>

<script type="text/javascript" src="./js/map.js"></script>

{template footer}