<!--{template header}-->

<div id="nav"><a href="center.php">Pokemon WG</a> &raquo; 登录</div>

<form action="###" method="post">
	<div class="box message narrow"><h1>登录</h1>
		<table>
			<tr><th><label>Email：</label></th><td><input type="text" name="email" /></td></tr>
			<tr><th><label>密码：</label></th><td><input type="password" name="password" /></td></tr>
		</table>
		<div class="post_buttons">
			<button type="submit" class="submit" name="loginsubmit">登录</button>
		</div>
	</div>
</form>

<!--{template footer}-->