<!--{template header}-->

<div id="nav"><a href="index.php">Pokemon NA</a> &raquo; 注册</div>

<form action="###" method="post">
	<div class="box message narrow"><h1>注册</h1>
		<table>
			<tr><th><label>账号：</label></th><td><input type="text" name="account" /></td></tr>
			<tr><th><label>密码：</label></th><td><input type="text" name="password" /></td></tr>
			<tr><th><label>确认密码：</label></th><td><input type="text" name="password2" /></td></tr>
		</table>
		<div class="post_buttons">
			<button type="submit" class="submit" name="loginsubmit">注册</button>
		</div>
	</div>
</div>

<!--{template footer}-->