{template header}
<div id="nav"><a href="pkw.php">Pokemon WG</a> &raquo; 精灵中心</div>
<div class="side">
	<div><h2>工具列表</h2>
	 <ul>
	  <li><a href="tool.php?item=fruit">树果信息查看器</a></li>
	  <li><a href="tool.php?item=ribbon">缎带盒</a></li>
	  <li><a href="tool.php?item=calc">觉醒力量计算器</a></li>
	  <li><a href="tool.php?item=cpanel">个人信息修改器</a></li>
	  <li><a href="tool.php?item=medal">徽章盒</a></li>
	  <li><a href="tool.php?item=evolution">进化表</a></li>
	  <li><a href="tool.php?item=trait">特性表</a></li>
	 </ul>
	</div>
</div>
<div class="content">
<!--{if $item == 'calc'}-->
	<script type="text/javascript">var imgpath = "$staticdir";</script>
	<script type="text/javascript" src="./static/js/calc.js"></script>
	<div id="gui" class="block">
	<div class="mainbox"><h1>觉醒力量计算器</h1>
	<table>
	<tr><td colspan="2">精灵种类</td>
		<td colspan="3"><select onchange="show_iv(this.options[selectedIndex].value)">
			<option value=""></option>
		<!--{loop $monlist $mon}-->
			<option value="$mon[id]">$mon[name_c]</option>
		<!--{/loop}-->
		</select>	</td>
	<td>全国编号</td><td colspan="2"><input type="text" id="pokeid" name="pokeid" maxlength="3" size="3" /></td></tr>
	<tr>
	  <td colspan="2">种族值:</td>
	  <td id="hpbase"></td><td id="atkbase"></td><td id="defbase"></td><td id="stkbase"></td><td id="sdfbase"></td><td id="spdbase"></td></tr>
	<tr><td colspan="2">性格：<input type="hidden" name="nature" /></td>
	<td colspan="5">
	<select class="required" onchange="show_nature(this.options[selectedIndex].value)">
	<!--{loop Pokemon::$nature $n}-->
		<option value="$n[name_e]">$n[name_c]</option>
	<!--{/loop}-->
	</select></td><td></td></tr>
	<tr>
	  <td colspan="2">性格值修正:</td>
	  <td>110%:</td><td id="inc" colspan="2"></td><td>90%:</td><td id="dec" colspan="2"></td></tr>
	<tr><td>等级</td><td></td><td>HP</td><td>攻击</td>
	  <td>防御</td>
	  <td>特攻</td>
	  <td>特防</td>
	  <td>速度</td>
	</tr>
	<tr><td><input class="required" type="text"  id="level" name="level" maxlength="3" size="3"/></td><td>实际值</td><td><input type="text" name="hpstat" id="hpstat" maxlength="3" size="3" value="" /></td>
	<td><input type="text" name="attackstat" id="atkstat" maxlength="3" size="3" value="" /></td>
	<td><input type="text" name="defensestat" id="defstat" maxlength="3" size="3" value="" /></td>
	<td><input type="text" name="spatkstat" id="stkstat" maxlength="3" size="3" value="" /></td>
	<td><input type="text" name="spdefstat" id="sdfstat" maxlength="3" size="3" value="" /></td>
	<td><input type="text" name="speedstat" id="spdstat" maxlength="3" size="3" value="" /></td></tr>
	
	<tr><td>威力：</td><td colspan="2" id="hiddenp"></td><td>属性：</td><td colspan="2" id="hiddent"></td><td>锁定</td><td><input name="hiddenl" id="hiddenl" type="checkbox" /></td></tr></table>
	</div>
	<div class="pages_btns"><button class="postbtn submit" onclick="calc_hiddenpower()">计算觉醒力量</button></div>
<!--{elseif $item == 'cpanel'}-->
	<form action="tool.php?item=cpanel" method="post"><input type="hidden" name="formhash" value="{FORMHASH}" />
	<div class="mainbox"><h1>个人设置修改</h1>
	<ul class="tabs"><li class="current"><a>基本信息</a></li></ul>
	<table>
		<tr>
			<th>本地图片路径</th>
			<td><input type="text" name="localpath" maxlength="50" value="$staticdir" /></td>
			<td>如果您不清楚应该填写什么，请打开图片包中的checkSource.html文件</td>
		</tr>
		<tr>
			<th>是否接受挑战</th>
			<td><input type="radio" name="battleon" value="1"<!--{if $my[battleon]}--> checked="checked"<!--{/if}--> />是 <input type="radio" name="battleon" value="0"<!--{if !$my[battleon]}--> checked="checked"<!--{/if}--> />否</td>
			<td>此处关闭则拒绝所有挑战</td>
		</tr>
		<tr>
			<th>帖内个人信息显示的精灵</th>
			<td><select name="post_monid"><!--{loop $monlist $m}--><option value="$m[id]">$m[name]</option><!--{/loop}--></select></td>
			<td></td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><button type="submit" class="submit" name="cpanelupdate">提交</button></td>
			<td>&nbsp;</td>
		</tr>
	</table>
	</div>
	</form>
<!--{elseif $item == 'fruit'}-->
	<div class="mainbox"><h1>树果查看器</h1>
	<table>
		<thead><td></td><td>编号</td><td>名称</td><td>长度</td><td>辣</td><td>涩</td><td>苦</td><td>甜</td><td>酸</td><td>光滑</td><td>硬度</td><td>成长时间</td><td>最大果数</td><td>自然力量</td></thead>
		<!--{loop $fruitlist $f}-->
		<tr><td></td><td>$f[id]</td><td>$f[name_c]</td><td>$f[length] cm</td><td>$f[hot]</td><td>$f[puc]</td><td>$f[bit]</td><td>$f[swt]</td><td>$f[tar]</td><td>$f[smooth]</td><td>$f[hard]</td><td>$f[growtime]小时</td><td>$f[maxnum]个</td><td>$f[powertype] $f[power]</td></tr>
		<!--{/loop}-->
	  </table>
	</div>
	<div class="multipage">$multipage</div>
<!--{elseif $item == 'evolution'}-->
	<div class="mainbox"><h1>宠物进化表</h1>
	<table>
		<thead><td>宠物编号</td><td>进化要求</td><td>进化后</td></thead>
		<!--{loop $elist $e}-->
		<tr>
			<td><img src="$staticdir/pokemon/$e[original].gif" width="130" height="120" /></td>
			<td>$e[require_c]</td>
			<td><img src="$staticdir/pokemon/$e[evoluted].gif" width="130" height="120" /></td>
		</tr>
		<!--{/loop}-->
	  </table>
	</div>
	<div class="multipage">$multipage</div>
<!--{elseif $item == 'trait'}-->
	<div class="mainbox"><h1>精灵特性表</h1>
	<table><thead><td width="120">名称</td><td>描述</td></thead></table>
	<div style="height:400px;overflow-y:scroll"><table style="width:98%">
	<!--{loop $_CONFIG['trait'] $t}-->
		<tr><td width="120">$t[name_c]<br />$t[name_j]</td><td>$t[intro]</td></tr>
	<!--{/loop}-->
	</table></div>
	</div>
<!--{/if}-->
</div>
</div>
{template footer}
